.app {
  text-align: center;
  overflow-x: hidden;
}

.app-logo {
  height: 80px;
}

.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.app-title {
  font-size: 1.5em;
}

.app-intro {
  font-size: large;
}

.loader {
  font-size: 18px;
  text-align: center;
}

.p20 {
  padding: 20px;
}

.users-table {
  width: 300px;
}